---
import Layout from '../layout/Layout.astro'

// Importación de componentes (los crearemos a continuación)
import Hero from '../components/Hero.astro'
import Features from '../components/Features.astro'
import PlanGrid from '../components/PlanGrid.astro'
import CoverageMap from '../components/CoverageMap.astro'
import Testimonials from '../components/Testimonials.astro'
import ContactCTA from '../components/ContactCTA.astro'
import FloatingWhatsApp from '../components/FloatingWhatsApp.astro'
---

<Layout title="Rescates Médicos Chile | Asesoría en Planes de Protección">
  <main>
    <Hero />

    <Features />

    <PlanGrid />

    <CoverageMap />
    <Testimonials />

    <ContactCTA />
  </main>

  <FloatingWhatsApp />
</Layout>
